<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<form action="">
    <h1 th:text="#{login.tip}"></h1>

    <input type="text" th:placeholder="#{login.username}"/> <br/>
    <input type="password" th:placeholder="#{login.password}"/><br/>
    <input type="checkbox" th:text="#{login.remember}"><br/>
    <button type="submit" th:text="#{login.btn}"></button>
    <a th:href="@{/login.html(l='zh_CN')}">中文</a>
    <a th:href="@{/login.html(l='en_US')}">English</a>
</form>

</body>
</html>